extends layout
block content
	.ui.container.rules-container
		.ui.text.container
			h1.ui.header.centered The Rules of Secret Voldemort
		.ui.text.container
			p.understated The year is 1932. The place is pre-WWII Germany. In Secret Voldemort, players are German politicians attempting to hold a fragile Ministry of Magic together and stem the rising tide of the Death Eaters. Watch out though—there are secret Death Eaters among you, and one player is Secret Voldemort.
			h2.ui.header.centered OVERVIEW
			p At the beginning of the game, each player is secretly assigned one of the three roles: <span class="emphasis">Order of the Pheonix Member</span>, <span class="emphasis">Death Eater</span>, or <span class="emphasis">Voldemort</span>. The Order Members have a majority, but they don’t know the roles of other players; Death Eaters must resort to secrecy and sabotage to accomplish their goals. Death Eaters know the identities of the other Death Eaters and Voldemort. Voldemort plays for the Death Eater team, but doesn't know who the other Death Eaters are and must work to figure them out.
			p Whenever a Death Eater Proclamation is enacted, the government becomes more powerful, and the President is granted a single-use power which must be used before the next round can begin. These powers range from choosing the next President to killing one of the players.
			h2.ui.header.centered OBJECT
			p Every player has a secret identity as a member of either the Order team or the Death Eater team. Players on the Order team win if either:
			ul
				li Five Order Proclamations are enacted OR
				li Voldemort is assassinated.
			p Players on the Death Eater team win if either:
			ul
				li Six Death Eater Proclamations are enacted OR
				li Voldemort is elected Headmaster any time after the third Death Eater Proclamation has been enacted.
			h2.ui.header.centered SETUP
			p The 11 Death Eater Proclamation tiles and the 6 Order Proclamation tiles are shuffled into a single Proclamation deck. Games with 6, 7, or 9 players have the option of being "rebalanced" to make the gameplay more even for both sides. If rebalancing is enabled: 6 player games start with a Death Eater Proclamation already enacted, 7 player games start with 10 Death Eater Proclamations in the deck instead of 11, and 9 player games start with 9 Death Eater Proclamations in the deck.
			p Each player will receive a Secret Role card. The table below determines the correct distribution of roles and whether Voldemort knows who the Death Eaters are or not.
			table
				thead
					tr.emphasis
						td # PLAYERS
						each val in [5, 6, 7, 8, 9, 10]
							td= val
				tbody
					tr
						td Order Members
						each val in [3, 4, 4, 5, 5, 6]
							td= val
					tr
						td Death Eaters
						each val in ['1+V', '1+V', '2+V', '2+V', '3+V', '3+V']
							td= val
					tr
						td Death Eaters known by Voldemort?
						each val in ['Yes', 'Yes', 'No', 'No', 'No', 'No']
							td= val
			h2.ui.header.centered GAMEPLAY
			p Secret Voldemort is played in rounds. Each round has an Election to form a government, a Legislative Session to enact a new Proclamation, and an Executive Action to exercise governmental power.
			h4.ui.header.centered ELECTION
			p At the beginning of a new round, the President placard moves right to the next player, who is the new Presidential Candidate.
			p.emphasis 2. Nominate a Headmaster
			p The Presidential Candidate chooses a Headmaster Candidate by selecting any other eligible player. The Presidential Candidate is free to discuss Headmaster options with the table to build consensus and make it more likely the Government gets elected.
			p.emphasis Eligibility:
			p The last elected President and Headmaster are "term-limited", and ineligible to be nominated as Headmaster Candidate.
			p.aside ON ELIGIBILITY:
			ul.aside
				li Term limits apply to the President and Headmaster who were last elected, not to the last pair nominated.
				li Term limits only affect nominations to the Headmastership; anyone can be President, even someone who was just Headmaster.
				li If there are only five players left in the game, only the last elected Headmaster is ineligible to be Headmaster Candidate; the last President may be nominated.
				li There are some other rules that affect eligibility in specific ways: the Veto Power and the Election Tracker. You don’t need to worry about those yet, and we’ll talk about each one in its relevant section.
			p.emphasis 3. Vote on the government
			p Once the Presidential Candidate has chosen an eligible Headmaster Candidate, players may discuss the proposed government until everyone has cast their votes. All players, including the President and Headmaster Candidate, vote on the proposed government. Once everyone has cast their vote, the Ballot cards are revealed simultaneously.
			p.emphasis If the vote is a tie, or if a majority of players votes no:
			p The vote fails. The Presidential Candidate misses this chance to be elected, and the President placard moves to the next player. The Election Tracker is advanced by one Election.
			p Election Tracker: If the group rejects three governments in a row, the country is thrown into chaos. The next Proclamation on the top of the deck is revealed and enacted. Any power granted by this Proclamation is ignored, but the Election Tracker resets, and any existing term-limits are forgotten. If there are fewer than three tiles remaining in the Proclamation deck at this point, they are shuffled with the Discard pile to create a new Proclamation deck.
			p Any time a new Proclamation is enacted for any reason, the Election Tracker is reset.
			p.emphasis If a majority of players vote yes:
			p The Presidential Candidate and Headmaster Candidate become the new President and Headmaster, respectively.
			p.emphasis If three or more Death Eater Proclamations have been enacted and a majority of players vote yes:
			p If the new Headmaster is Voldemort, the game is over and the Death Eaters win. If the game didn't end, other players will know for sure the Headmaster is not Voldemort.
			h4.ui.header.centered LEGISLATIVE SESSION
			p During the Legislative Session, the President and Headmaster work together to enact a new Proclamation in secret. The President draws the top three tiles from the Proclamation deck, looks at them in secret, and discards one tile face down into the Discard pile. The remaining two tiles go to the Headmaster, who in secret discards one Proclamation tile face down, and enacts the remaining Proclamation by placing the tile face up on the corresponding track.
			p The chat for the President and Headmaster is disabled during the Legislative Session. Attempting to telegraph the contents of your hand using randomness or any other unusual selection procedure violates the spirit of the game. Don’t do it.
			p.emphasis Discarded Proclamation tiles are not revealed to the group. Players must rely on the word of the President and Headmaster, who are free to lie.
			p.aside ABOUT LYING: Often, some players learn things that the rest of the players don’t know, like when the President and Headmaster get to see Proclamation tiles, or when a President uses the Investigate power to see someone’s Party Membership card. You can always lie about hidden knowledge in Secret Voldemort.
			p <span class="emphasis">If there are fewer than three tiles remaining in the Proclamation deck at the end of a Legislative Session,</span> they are shuffled with the Discard pile to create a new Proclamation deck. Unused Proclamation tiles are not revealed.
			h4.ui.header.centered EXECUTIVE ACTION
			p If the newly-enacted Death Eater Proclamation grants a Presidential Power, the President must use it before the next round can begin. Before using a power, the President is free to discuss the issue with other players, but ultimately the President gets to decide how and when the power is used. Gameplay cannot continue until the President uses the power. Presidential Powers are used only once; they don’t stack or roll over to future turns. If the government enacted a Order or Death Eater Proclamation that grants no Presidential Power, begin the next round with a new Election.
			h4.ui.header.centered PRESIDENTIAL POWERS
			p.emphasis Investigate Loyalty
			p The President chooses a player to investigate. Investigated players show their Party Membership (not the secret role card that also reveals whether the player is Voldemort or not, not just whether he's a Order Member or Death Eater) to the President. The President may share or lie about the results of their investigation at their discretion. No player may be investigated twice in the same game.
			p.emphasis Call Special Election
			p The President chooses any other player at the table to be the next Presidential Candidate. Any player can become President—even players that are term-limited. The new President nominates an eligible player as Headmaster Candidate and the Election proceeds as usual.
			p.emphasis A Special Election does not skip any players. After a Special Election, the President placard returns to the right of the President who enacted the Special Election.
			p If the President passes the presidency to the next player in the rotation, that player would get to run for President twice in a row: once for the Special Election and once for their normal shift in the Presidential rotation.
			p.emphasis Proclamation Peek
			p After selecting the Proclamation deck, the President sees the top three tiles.
			p.emphasis Execution
			p The President executes one player by selecting them. If that player is Voldemort, the game ends in a Order victory. If the executed player is not Voldemort, the table does not learn whether a Death Eater or a Order has been killed; players must try to work out for themselves the new table balance. Executed players are removed from the game and may not chat, vote, or run for office.
			h4.ui.header.centered VETO POWER
			p The Veto Power is a permanent special rule that comes into effect after five Death Eater Proclamations have been enacted. For all Legislative Sessions after the fifth Death Eater Proclamation is enacted, the Executive branch gains a permanent new ability to discard all three Proclamation tiles if both the Headmaster and President agree.
			p The President draws three Proclamation tiles, discards one, and passes the remaining two to the Headmaster as usual. The Headmaster selects one, and then both the President and Headmaster vote on whether or not to veto the results of this election in secret. If so, both Proclamations are discarded and the President placard passes to the right as usual. If either the President or Headmaster doesn't agree to veto, the Proclamation passes.
			p Each use of the Veto Power represents an inactive government and advances the Election Tracker by one.
			h2.ui.header.centered BASIC STRATEGY
			ul
				li <span class="emphasis">Everyone should claim to be an Order Member.</span> Since the Order team has a voting majority, it can easily shut out any player claiming to be a Death Eater. As a Death Eater, there is no advantage to outing yourself to the majority. Additionally, Order Members should usually tell the truth. Order Members are trying to figure out the game like a puzzle, so lying can put their team at a significant disadvantage.
				li <span class="emphasis">If this is your first time playing Secret Voldemort, just remember: be as Order as possible.</span> Enact Order Proclamations. Vote for Order governments. Kiss babies. Trust your fellow Death Eaters to create opportunities for you to enact Order Proclamations and to advance the Death Eater cause on their turns. The Death Eaters win by subtly manipulating the table and waiting for the right cover to enact Death Eater Proclamations, not by overtly playing as evil.
				li <span class="emphasis">Orders frequently benefit from slowing play down and discussing the available information. Death Eaters frequently benefit from rushing votes and creating confusion.
				li <span class="emphasis">Death Eaters most often win by electing Voldemort, not by enacting six Proclamations!</span> Electing Voldemort isn’t an optional or secondary win condition, it’s the core of a successful Death Eater strategy. Voldemort should always play as a Order Member, and should generally avoid lying or getting into fights and disagreements with other players. When the time comes, Voldemort needs the Order Member's trust to get elected. Even if Voldemort isn’t ultimately elected, the distrust sown among Order Members is key to getting Death Eaters elected late in the game.
				li <span class="emphasis">Ask other players to explain why they took an action.</span> This is especially important with Presidential Powers—in fact, ask ahead of time whom a candidate is thinking of investigating/appointing/assassinating.
				li <span class="emphasis">If a Death Eater Proclamation comes up, there are only three possible culprits: The President, the Headmaster, or the Proclamation Deck.</span> Try to figure out who or what put you in this position.
			h2.ui.header.centered GLOSSARY AND STRATEGIES
			p This part contains definitions for common acronyms/terms and also some commonly seen strategies. You may skip this part for now and come back later once you've got hang of the game.
			ul
				li <span class="emphasis">Order of play</span> During the first rounds of the game, Order Members should try to get as many players elected in the government as possible. In a 5-player game, the first President should pick the fourth player as his Headmaster and the second President pick the fifth player so that everyone gets in the government at least once. As another example, in a 6-player game the picks should be 14, 25, and 36 (1 picking 4, 2 picking 5, 3 picking 6). In a 7-player game, the picks should be 15, 26, 37.
				li <span class="emphasis">Blue/Red President (BP/RP)</span> Red Presidents (RP) are Presidents who claimed to get three Death Eater cards. Blue Presidents (BP) are those who passed along Order Proclamations to the Headmaster. Blue Presidents who didn't have a choice to pass along two Death Eater Proclamations to the Headmaster are sometimes called Semi-Blue Presidents (Semi-BP). Blue Headmasters (BC) are Headmasters who picked a Order Proclamation when they could have picked a Death Eater one.
				li <span class="emphasis">Conflict (conf)</span> Two players can be in conflict for different reasons, like claiming that you saw different Proclamations during the Legislative Session or investigating somebody and claiming he's a Death Eater.
				li <span class="emphasis">Freeze</span> Players can decide to "freeze" a particular player, meaning that they will not vote to elect that player into government. Usually, people in conflicts are frozen, and sometimes also Red Presidents depending on the circumstances.
				li <span class="emphasis">Voldemort Zone (VZ)</span> The game enters into so-called "Voldemort Zone" when 3 Death Eater Proclamations are enacted and there is a risk of electing Voldemort that would mean losing the game for Orders.
				li <span class="emphasis">Force</span> When a President gets two Order and one Death Eater Proclamation (shorthand: RBB) and decide to pass along two Order Proclamations giving the Headmaster no option to pick - that's called forcing. A Order should force, but Voldemorts that don't know who the other death eaters are might sometimes try passing along one Death Eater and one Order Proclamation to see if the Headmaster picks the Death Eater Proclamation, signalling the Voldemort that they are a Death Eater.
				li <span class="emphasis">Gunpoint (GP)</span> A confirmed Order President can pick a player that is in conflict (Voldemort usually does not conflict to remain unsuspicious) when the next Presidental Power is the execution. The picked player is forced to pick a Order Proclamation in case he has a choice unless he wants to get shot.
				li <span class="emphasis">Powerplay (PP)</span> Powerplay is when you nominate the next President as a Headmaster, effectively letting him be in the government for two rounds in a row unless the proposal is denied. This should usually be avoided in the early game.
				li <span class="emphasis">Double dip</span> When a single player conflicts with two players using the investigation power. How it works is that the President gives two Death Eater tiles while lying that he gave the Headmaster a choice. They both get frozen, but the President first gets to investigate another player. He investigates a Order Member and claims he investigated a Death Eater. So he effectively froze two Order Members with him.
				li <span class="emphasis">Double ditch</span> When both the President and Headmaster are Death Eaters and they both ditch (discard, burn, drop etc.) a Order card.
				li <span class="emphasis">Cucu</span> Cucu is a name for an advanced strategy that comes into play when the investigation power comes into play. This strategy is only valid before Voldemort Zone. When a President enacts a Death Eater Proclamation, he should investigate the player two spots ahead of him. If the investigated player is claimed to be a Order Member, he should pick the player who investigated him once he becomes a President. If there is a conflict (RRB --> RR), everyone can be sure that the Investigator is a Death Eater because he claimed that the President was a Order Member (meaning that he couldn't lie). That forces Death Eaters into playing Order cards. There is also another strategy related to this that is named pre-cucu. That strategy suggests that the next President after the investigation should pick the investigated player.
