.game-text {
	.normal {
		color: var(--theme-text-3);
	}

	.order {
		font-weight: 700;
		color: $darkorderteam;
	}

	.voldemort {
		font-weight: 700;
		color: #be0804;
	}

	.death-eater {
		font-weight: 700;
		color: $darkdeatheaterteam;
	}

	.player {
		color: var(--theme-text-2);
		font-weight: 700;
	}
}
