$lred: #e36248;
$lightorderteam: #bfd8ee;
$lightdeatheaterteam: #f3cff7;
$darkorderteam: #c36563;
$darkdeatheaterteam: #b690ea; // default orange color now
$voldemortteam: #66409c;
$deatheaterteam: #857287;
$tourny: #1cb98e;
$notification: #fbbd08;
$selection: #db2828;
$proceed: #2185d0;
$lteal: #097892;
$dteal: #034f61;
$blacklist: #462c35;
$thirteen: #1c9cb9;

$textfont: inherit; //'Comfortaa', Lato, sans-serif;
$headerfont: inherit; //'Comfortaa', Lato, sans-serif;
